@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/integral-cf'); /* Integral CF reliable web CDN link */
@import "tailwindcss";

@layer utilities {
  .font-integral {
    font-family: 'Integral CF', 'Impact', sans-serif;
    font-weight: 700; /* Figma ki exact requirement */
  }
  .font-satoshi {
    font-family: 'Satoshi', sans-serif;
  }
}